.body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.form {
    background-color: whitesmoke;
    width: 25%;
    padding: 3%;
    display: grid;
    place-items: center;
    border: 2px solid black;
    border-radius: 5%;
    margin: auto;
    margin-top: 10%;
}